{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans title %}
{% endblock title %}
{% block content %}
    <div class="dictionary_container">
        <div id="search_container">
            <div id="search_bar">
                <input type="hidden"
                       name="source_language"
                       value="{{ dictionary.source_language.code }}">
                <input type="hidden"
                       name="target_language"
                       value="{{ dictionary.target_language.code }}">
                <input type="text"
                       placeholder="Search"
                       name="word"
                       id="word"
                       hx-get="{% url 'dictionary' dictionary.source_language.code dictionary.target_language.code %}"
                       hx-trigger="input changed delay:500ms, load"
                       hx-target="#dictionary_words_container"
                       hx-swap="innerHTML">
            </div>
            <div id="translate_word">
                <img src="{% static "img/search_icon.svg" %}" alt="search_icon">
            </div>
        </div>
        <div id="dictionary_words_container"></div>
    </div>
{% endblock content %}
{% block js_block %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock js_block %}
