{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans title %}
{% endblock title %}
{% block css_block %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock css_block %}
{% block content %}
    {% if dictionaries %}
        <div class="dictionaries_container">
            {% for dictionary in dictionaries %}
                <div class="dictionary">
                    <a href="{% url 'dictionary' dictionary.source_language.code dictionary.target_language.code %}">
                        <div class="dictionary_name">{{ dictionary.source_language.name }} - {{ dictionary.target_language.name }}</div>
                        <div class="word_amount">{{ dictionary.translations.count }} words</div>
                    </a>
                    <div class="delete_dictionary"
                         hx-delete="{% url 'delete_dictionary' dictionary.pk %}"
                         hx-target="closest .dictionary"
                         hx-swap="outerHTML"
                         hx-confirm="After deleting, you can't recover the dictionary."
                    >
                        <img src="{% static "img/trash_icon.svg" %}" alt="trash icon">
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'create_dictionary' %}">
            <div class="submit_bt">Create dictionary</div>
        </a>
    {% else %}
        <div class="no_dictionaries">
            <div>You don't have any dictionary</div>
            <a href="{% url 'create_dictionary' %}">
                <div class="submit_bt">Create dictionary</div>
            </a>
        </div>
    {% endif %}
{% endblock content %}
