{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans title %}
{% endblock title %}
{% block css_block %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock css_block %}
{% block content %}
    {% if dictionaries %}
        <div class="dictionary_view_container">
            <div class="dictionaries_container">{% include "dictionary/dictionary_list.html" %}</div>
            <div>
                <a href="{% url 'create_dictionary' %}">
                    <div class="submit_bt">Create dictionary</div>
                </a>
            </div>
        </div>
    {% else %}
        <div class="no_dictionaries">
            <div>You don't have any dictionary</div>
            <a href="{% url 'create_dictionary' %}">
                <div class="submit_bt">Create dictionary</div>
            </a>
        </div>
    {% endif %}
{% endblock content %}
