@import "./normalize.css";

/* Variables */
:root {
    --regular-fw: 400;
    --medium-fw: 500;
    --bold-fw: 700;
    --black-fw: 900;
    --color-1: #ffbf00;
    --color-2: #191919;
    --color-3: #f3f3f3;
    --color-4: #8c8c8c;
    --mob-side-padding: 1rem;
    --tab-side-padding: 2rem;
    --desk-side-padding: 5rem;
    --xsmall-fs: 16px;
    --small-fs: 20px;
    --medium-fs: 24px;
    --large-fs: 30px;
    --xlarge-fs: 40px;
    --header-height: 104px;
}

/* Common styles */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    padding-top: var(--header-height);
    letter-spacing: calc(-0.04 * 1em);
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--regular-fw);
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.align-center {
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
    outline : none;
    border: 1px solid var(--color-2);
    border-radius: 5px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]):focus-visible {
    border: 3px solid var(--color-1);
}

/* Page not found style 404 */

#error_404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 400px;
    text-align: center;
    font-weight: var(--bold-fw);
    font-size: var(--medium-fs);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-1);
}
/* Messages */
#messages {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    padding: 1.5rem;
}

.message {
    min-width: 270px;
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    color: white;
    font-size: var(--xsmall-fs);
    font-weight: bold;
}

.message > svg {
    width: 1.5rem;
    height: 1.5rem; 
    margin-right: 0.5rem; 
    color: white;
}
.message_info {
    background-color: #4299e1;
}

.message_success {
    background-color: #48bb78;
}

.message_warning {
    background-color: #ecc94b;
}

.message_error {
    background-color: #f56565;
}

.transition-opacity {
    transition: opacity 500ms ease-in-out;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

/* Mobile */

/* Header */
#header {
    display: flex;
    background-color: var(--color-1);
    justify-content: space-between;
    padding: 20px var(--mob-side-padding);
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

#logo-image-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-image-text span {
    font-weight: var(--black-fw);
    font-size: var(--medium-fs);
}

#navigation {
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    z-index: inherit;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: inherit;
    overflow: hidden;
    transition: height 0.5s;
}

#navigation.active{
    height: calc(100vh - var(--header-height));
}

#navigation > ul {
    /* center ul element vertically */
    transform: translateY(calc(-1 * var(--header-height) / 2));
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    font-weight: var(--bold-fw);
    font-size: var(--small-fs)
}

.authentication-button {
    border-radius: 10px;
}

.authentication-button > a {
    font-size: var(--small-fs);
    font-weight: var(--bold-fw);
    text-align: center;
    padding: 20px 35px;
}

.dark-bg {
    background-color: var(--color-2);
    color: var(--color-3);
}

.bright-bg {
    background-color: var(--color-3);
    color: var(--color-2);
}

#line-1 {
    transform: rotate(-45deg);
}

/* Open-close burger menu animation */
.plate {
    height: 65px;
    width: 65px;
}

.plate svg {
    position: absolute;
    height: 65px;
    width: 65px;
}
.burger {
    filter: url(#gooeyness);
}
.x {
    transform: scale(0);
    transition: transform 400ms;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
        transform 500ms 200ms;
}
.x .line {
    stroke-width: 5.5px;
}

.plate .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}
.plate .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}
.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}
.active.plate .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}
.active.plate .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}
.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.logout_btn {
    transform: translateY(50%);
}

/* Main block */

/* Welcome section */
#welcome, #features {
    padding: 80px var(--mob-side-padding);
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.theme-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.theme {
    text-transform: capitalize;
    font-size: var(--xlarge-fs);
    font-weight: var(--black-fw);
    margin: 0;
    padding: 0;
}

.description {
    color: var(--color-4);
    font-size: var(--medium-fs);
}

.signup-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.signup-btn {
    text-align: center;
    text-transform: capitalize;
    
    max-width: 300px;
    border-radius: 10px;
    font-size: var(--medium-fs);
    font-weight: var(--bold-fw);
}

.signup-btn {
    padding: 24px 40px;
}

.signup-block > p {
    color: var(--color-4);
    font-size: var(--small-fs);
}

.signup-with {
    display: flex;
    gap: 30px;
}

/* Style for social account links */

.auth_social_container {
    align-self: center;
    transform: translateY(-20px);
    font-size: var(--small-fs);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social_account_container {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.social_account_container img {
    transition: filter 0.5s;
    width: 35px;
    height: 35px;
}

.social_account_container img, .submit_bt {
    transition: filter 0.5s;
}

.social_account_container img:hover, .submit_bt:hover {
    filter: brightness(50%);
}

/* Features section */
#feature-items {
    display: grid;
    gap: 40px;
}

.feature {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature > p {
    color: var(--color-2)
}

.sub-theme {
    font-size: var(--large-fs);
}

/* Dictionary section */
#search_container {
    padding: 20px var(--mob-side-padding);
    display: flex;
    max-width: 425px;
}
.add_word_error {
    position: absolute;
    top: 0;
    top: 50px;
    left: 50%;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 2000;
    background-color: var(--color-2);
    color: var(--color-3);
}

#search_bar {
    width: 100%;
}

#word {
    height: 40px;
    width: 100%;
    padding: 0 10px;
}

#translate_word {
    display: none;
    width: 60px;
    align-content: center;
    margin-left: 10px;
    background-color: var(--color-1);
    text-align: center;
    border-radius: 5px;
    font-weight: var(--bold-fw);
    transition: all 0.5s;
}

#search_results {
    max-width: 75vw;
    font-size: var(--xsmall-fs);
}   

.search_result {
    padding: 5px 15px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-1);
}

.user_translation {
    background-color: var(--color-1); 
    color: var(--color-2);
    border-bottom: 1px solid var(--color-2);
}

#add_translation_btn {
    color: var(--color-4);
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    transition: all 0.3s;
}

#add_translation_btn:hover {
    cursor: pointer;
    color: var(--color-3);
}

.add_translation_container {
    padding: 15px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#user_translation_input {
    padding: 5px;
    width: 200px;
}

#submit_user_translation {
    background-color: var(--color-1);
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
    transition: all 0.3s;
}

#translate_word img {
    width: 25px;
    height: 25px;
}

.tippy-content {
    padding: 0px;
}

.tippy-box {
    border-radius: 0;
}

#translate_word:active {
    transform: scale(1.2);
}
.no_dictionaries {
    min-width: 290px;
    max-width: 340px;
    margin: 25vh 5% 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.no_dictionaries > div {
    text-align: center;
    font-size: var(--small-fs);
    font-weight: var(--bold-fw);
    color: var(--color-1);
    margin-bottom: 30px;
}

.dictionary_view_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dictionaries_container {
    padding: 0 0 40px 0;
    align-self: stretch;
}

.dictionary {
    display: flex;
    border-bottom: 2px solid var(--color-2);
}

.dictionary > * {
    padding: 15px;
}

.dictionary > a {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.dictionary > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: left 0.5s;
}

.dictionary > a:hover::before {
    left: 0;
}
.dictionary_name {
    font-weight: var(--bold-fw);
    color: var(--color-2);
    margin-bottom: 5px;
}

.delete_action {
    cursor: pointer;
    transition: all 0.5s;
}

.delete_action > img {
    transition: all 0.5s;
}

.delete_action:hover > img {
    transform: scale(1.2);
}

.delete_dictionary {
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.delete_dictionary > img {
    width: 30px;
    height: 30px;
    color: var(--color-4);
    transition: all 0.5s;
}

.dictionary_word_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid var(--color-4);
}

.dictionary_word {
    flex-grow: 1;
}

.delete_word > img {
    width: 25px;
    height: 25px;
}

.no_translations_found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--bold-fw);
    font-size: var(--medium-fs);
    width: max-content;
}
.dictionary_word:last-child {
    border-bottom: none;
}

.from_word {
    font-weight: var(--bold-fw);
    padding-bottom: 7px;
}

.to_words {
    display: flex;
    flex-wrap: wrap;
    column-gap: 7px;
    row-gap: 2px;
}

/* Profile section */
.profile_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.profile_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile_group_title {
    padding: 10px 10px 10px 15px;
    font-weight: var(--bold-fw);
    font-size: var(--medium-fs);
    background-color: rgba(0, 0, 0, 1);
    color: var(--color-3);
}

.profile_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 15px 15px 20px;
}

.profile_title {
    font-weight: var(--bold-fw);
}

.profile_item .dictionary {
    border-bottom: none;
    border-radius: 5px;
    overflow: hidden;
    width: 230px;
}

.profile_item .dictionary > * {
    padding: 5px;
}

.profile_item .dictionary > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}

.profile_item .dictionary > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.profile_item .dictionary > a::before {
    content: none;
}

.profile_item .word_amount {
    display: none;
}

.profile_item .dictionary_name {
    margin-bottom: 0;
}

.profile_item .delete_action > img {
    transition: left 0.5s;
}

.profile_item .delete_action:hover > img {
    transform: none;
}

.profile_item .delete_action:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.profile_item .delete_dictionary {
    padding-right: 10px;
    padding-left: 10px;
}

.profile_item .delete_dictionary > img {
    width: 25px;
    height: 25px;
}

.submit_bt.danger {
    background-color: rgba(255, 0, 0, 1);
}
/* Media query: Tablet screen size */
@media screen and (min-width: 768px) {
    /* Header */
    #header {
        padding: 20px var(--tab-side-padding);
    }

    /* Welcome section */
    #welcome {
        padding: 80px var(--tab-side-padding);
        flex-direction: row;
        align-items: center;
        gap: 80px;
    }

    #welcome > .theme-description {
        flex-basis: 50%;
    }

    #welcome > .signup-block {
        flex-basis: 35%;
    }

    .signup-btn {
        width: 170px;
    }

    .signup-btn {
        padding: 15px 0 ;
    }

    /* Features section */
    #features {
        padding: 80px var(--tab-side-padding);
    }

    #features>.theme-description {
        width: 80%;
    }

    #feature-items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .feature-5 {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    /* Dictionary section */
    .no_dictionaries {
        margin-left: auto;
        margin-right: auto;
    }
    
    .dictionary_container {
        display: flex;
        flex-direction: column; 
    }

    .dictionary_container > * {
        width: 500px;
    }

    #dictionary_words_container {
        transform: translateY(30px);
        align-self: center;
    }

    #search_container {
        padding: 30px 0 20px 30px
    }

    /* Profile section */
    #profile_menage > .profile_item {
        align-items: start;
    }

}

/* Media query: Desktop screen size */
@media only screen and (min-width: 992px) {
    /* Header */
    #header {
        padding: 20px 40px 20px var(--desk-side-padding);
    }

    #logo-image-text > svg {
        transition: transform 1s;
    }

    #logo-image-text:hover> svg {
        transform: rotate(90deg);
        transition: transform 1s;
    }

    #burger-menu {
        display: none;
    }

    #navigation {
        position: static;
        height: auto;
        width: initial;
        overflow: initial;
    }

    .logout_btn {
        transform: initial;
        margin-left: 20px;
    }

    .logout_btn:hover {
        transform: scale(1.1);
    }

    #navigation > ul {
        flex-direction: row;
        transform: none; 
        align-items: center;
    }

    .authentication-button {
        transition: all 0.5s;
    }

    .authentication-button > a {
        padding: 10px 20px;
    }

    .authentication-button.bright-bg:hover {
        background-color: var(--color-2);
        color: var(--color-3);
    }

    .authentication-button.dark-bg:hover {
        background-color: var(--color-3);
        color: var(--color-2);
    }

    .authentication-button:hover {
        transform: scale(1.1);
    }  
    /* Main block */
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    /* Welcome section */
    #welcome {
        flex-grow: 1;
        padding: 80px var(--desk-side-padding);
        justify-content: space-between;
    }

    .signup-btn, .signup-with img {
        transition: all 0.5s;
    }

    .signup-btn:hover, .signup-with img:hover {
        transform: scale(1.2);
    }

    .signup-btn:hover {
        background-color: var(--color-1);
    }

    /* Features section */
    #features {
        flex-grow: 1;
        padding: 80px var(--desk-side-padding);
        flex-direction: row;
        align-items: center;
    }

    .feature {
        transition: all 0.5s;
    }

    .feature:hover {
        transform: scale(1.1);
    }

    /* Dictionary section */
    #translate_word {
        opacity: 0.5;
    }

    #translate_word:hover {
        opacity: 1;
    }

    .dictionary_view_container {
        padding: 40px;
        width: 700px;
        align-self: center;
    }
    
    .dictionaries_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .dictionary {
        border-bottom: none;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .dictionary > a {
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.5s;
    }

    .dictionary > a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .dictionary > a::before {
        content: none;
    }
}