<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Navigation goes here -->
    </header>

    <main>
        {% block content %}
        <!-- Default Content -->
        {% endblock content %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>