{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Discover WordNest, your go-to online dictionary for translations, multiple dictionaries, word sets, adding sentences for words, audio pronunciation, and much more. Explore the power of words today!">
        <meta name="keywords"
              content="WordNest, online dictionary, translations, multiple dictionaries, word sets, sentences for words, audio pronunciation, language learning">
        <title>
            {% block title %}
                Default title
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
              rel="stylesheet" />
    </head>
    <body class="inter-font">
        <header id="header">
            <a id="logo-image-text" href="{% url 'home' %}">
                {% include "svg_templates/logo.svg" %}
                <span>WordNest</span>
            </a>
            <div id="burger-menu" class="plate">
                {% include "svg_templates/burger.svg" %}
                {% include "svg_templates/cross.svg" %}
            </div>
            <nav id="navigation">
                <ul>
                    <li class="authentication-button bright-bg">
                        <a href="#">Login</a>
                    </li>
                    <li class="authentication-button dark-bg">
                        <a href="#">Register</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
                <section id="welcome" class="dark-bg">
                    <div class="theme-description">
                        <h2 class="theme">Welcome to WordNest Online Dictionary!</h2>
                        <p class="description">Unlock the power of words and create your own personalized dictionary.</p>
                    </div>
                    <div class="signup-block">
                        <div class="signup-btn bright-bg">
                            <a href="#">sign up</a>
                        </div>
                        <p>sign up with</p>
                        <div class="signup-with">
                            <a href="#">
                                <img src="{% static "img/google_logo.svg" %}" alt="google logo">
                            </a>
                            <a href="#">
                                <img src="{% static "img/facebook_logo.svg" %}" alt="facebook logo">
                            </a>
                        </div>
                    </div>
                </section>
            {% endblock content %}
        </main>
        <footer>
            <!-- Footer content goes here -->
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
