{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Discover WordNest, your go-to online dictionary for translations, multiple dictionaries, word sets, adding sentences for words, audio pronunciation, and much more. Explore the power of words today!">
        <meta name="keywords"
              content="WordNest, online dictionary, translations, multiple dictionaries, word sets, sentences for words, audio pronunciation, language learning">
              <meta name="htmx-config" content='{
                "responseHandling": [
                    {"code":"204", "swap": false},   
                    {"code":"[23]..", "swap": true}, 
                    {"code":"422", "swap": true}, 
                    {"code":"404", "swap": true, "select": "#messages", "swapOverride": "none"},
                    {"code":"[45]..", "swap": false, "error": true}
                ]
            }'>
        <title>
            {% block title %}
                Default title
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block css_block %}{% endblock css_block %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
              rel="stylesheet" />
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="inter-font" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include "messages.html" %}
        <header id="header">
            <a id="logo-image-text" href="{% url 'home' %}">
                {% include "svg_templates/logo.svg" %}
                <span>WordNest</span>
            </a>
            <div id="burger-menu" class="plate">
                {% include "svg_templates/burger.svg" %}
                {% include "svg_templates/cross.svg" %}
            </div>
            <nav id="navigation">
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "home" %}">My dictionary</a>
                        </li>
                        <li>
                            <a href="{% url "profile" %}">Profile</a>
                        </li>
                        <li class="authentication-button dark-bg logout_btn">
                            <a href="{% url "account_logout" %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="authentication-button bright-bg">
                            <a href="{% url "account_login" %}">Login</a>
                        </li>
                        <li class="authentication-button dark-bg">
                            <a href="{% url "account_signup" %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <!-- Footer content goes here -->
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
        {% block js_block %}{% endblock js_block %}
    </body>
</html>
