{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <section id="welcome" class="dark-bg">
        <div class="theme-description">
            <h2 class="theme">Welcome to WordNest Online Dictionary!</h2>
            <p class="description">Unlock the power of words and create your own personalized dictionary.</p>
        </div>
        <div class="signup-block">
            <div class="signup-btn bright-bg">
                <a href="#">sign up</a>
            </div>
            <p>sign up with</p>
            <div class="signup-with">
                <a href="#">
                    <img src="{% static "img/google_logo.svg" %}" alt="google logo">
                </a>
                <a href="#">
                    <img src="{% static "img/facebook_logo.svg" %}" alt="facebook logo">
                </a>
            </div>
        </div>
    </section>
    <section id="features" class="bright-bg">
        <div class="theme-description">
            <h2 class="theme">Features</h2>
            <p class="description">
                Discover the powerful features that make our online dictionary the ultimate tool for language learners and enthusiasts.
            </p>
        </div>
        <div id="feature-items">
            <div class="feature feature-1">
                <h3 class="theme sub-theme">Create Your Own Dictionary</h3>
                <p class="description">Build a personalized dictionary by adding words and definitions that are relevant to you.</p>
            </div>
            <div class="feature feature-2">
                <h3 class="theme sub-theme">Word Sets</h3>
                <p class="description">Organize your vocabulary into sets for easy access and efficient learning.</p>
            </div>
            <div class="feature feature-3">
                <h3 class="theme sub-theme">Custom Translation</h3>
                <p class="description">Add your own translations for perfect understanding.</p>
            </div>
            <div class="feature feature-4">
                <h3 class="theme sub-theme">Word Usage</h3>
                <p class="description">Add sentence for word to see its context</p>
            </div>
            <div class="feature feature-5">
                <h3 class="theme sub-theme">Audio Pronunciation</h3>
                <p class="description">Listen to the correct pronunciation of words to improve your speaking skills</p>
            </div>
        </div>
    </section>
{% endblock content %}
