{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <section id="welcome" class="dark-bg">
        <div class="theme-description">
            <h2 class="theme">Welcome to WordNest Online Dictionary!</h2>
            <p class="description">Unlock the power of words and create your own personalized dictionary.</p>
        </div>
        <div class="signup-block">
            <a href="{% url "account_signup" %}">
            <div class="signup-btn bright-bg">
                sign up
            </div>
            </a>
            <p>sign up with</p>
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
    </section>
    <section id="features" class="bright-bg">
        <div class="theme-description">
            <h2 class="theme">Features</h2>
            <p class="description">
                Discover the powerful features that make our online dictionary the ultimate tool for language learners and enthusiasts.
            </p>
        </div>
        <div id="feature-items">
            <div class="feature feature-1">
                <h3 class="theme sub-theme">Create Your Own Dictionary</h3>
                <p class="description">Craft a personalized dictionary by adding words and definitions that matter most to you.</p>
            </div>
            <div class="feature feature-3">
                <h3 class="theme sub-theme">Custom Translations</h3>
                <p class="description">Ensure perfect understanding by adding your own translations.</p>
            </div>
            <div class="feature feature-4">
                <h3 class="theme sub-theme">Translate Instantly</h3>
                <p class="description">Translate words directly within the app.</p>
            </div>
            <div class="feature feature-4">
                <h3 class="theme sub-theme">Quick Word Search</h3>
                <p class="description">Navigate through an extensive dictionary and find words in seconds.</p>
            </div>            
        </div>
    </section>
{% endblock content %}
